* {
    display: inline-block;
    width: 200px;
    height: 100vh;
    background-color: beige;

    z-index: 3;
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: solid balck 1px;
    border-radius: 7px;

    justify-content: center;

    color: rgb(222, 222, 222);
}
